.navbar-brand{
    color:rgb(218, 70, 70);
    font-size: 25px;
    font-weight: bold;
}

.btn-nav{

    background-color: rgb(218, 70, 70);
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
}